<a href="https://colab.research.google.com/github/kelopaksalak/Hello/blob/main/FirstLearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if 5 > 4 : 
  print("Five is greater than Four")
if 4 < 5 :
  print("Four is lower than Five")

Five is greater than Four
Four is lower than Five

In [8]:
x = 'cool'

def myWord():
    global x 
    x = 'cringe'
    print("Python is " + x)

myWord()

print('Python is ' + x)

Python is cringe
Python is cringe

In [ ]:
fruits = ['orange','apple','banana']
x,y,z=fruits 
print(x)
print(y)
print(z)

orange
apple
banana

In [ ]:
x = 5 
y = 6 

sum = x + y

print(float(sum))

11.0

In [ ]:
a = 6 
b = 7
c = 'john'
d = 'cena'

print(int(x + y))
print(str(c +" "+d))

11
john cena